* {
	border-radius: 20px;
}

canvas {
	border-radius: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0d0d16;
    color: #cadeff;
}

a {
    color: #81aefc;
    text-decoration: none;
}

hr {
	border-color: #0d0d16;
	border-radius: 50%;
}

.container {
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #141422;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.backbutton {
	position: fixed;
	bottom: 20px;
	left: 20px;
	display: flex;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	background-color: #0d0d16;
}

.backbutton a {
	font-size: 20px;
	display: inline-block;
	width: 62px;
	height: 30px;
	cursor: pointer;
}

.social-icons {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none; /* flex */
    flex-direction: column;
    align-items: flex-end;
	
}

.social-icons a {
    display: inline-block;
    margin-bottom: 10px;
    width: 30px;
    height: 30px;
    overflow: hidden;
	transition: transform 0.3s;
}

.social-icons img {
    width: 100%;
    height: 100%;
    object-fit: contain; 
}

.social-icons a:hover {
	transform: scale(1.1);
}

* {
	box-sizing: border-box;
}

.slideshow-container {
	max-width: 1000px;
	position: relative;
	margin: auto;
}

.slideshow {
	display: none;
}

.slideshow img {
	cursor: pointer;
}

.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: #e6f4ff;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	-webkit-user-select: none;
	user-select: none;
}

.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
	background-color: rgba(20, 20, 20, 0.7);
}

.text {
	color: #dadef2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
}

.numbertext {
	color: #dadef2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 8 2px;
	background-color: #a9b4d5;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.5s ease;
}

.active, .dot:hover {
	background-color: #69748d;
}
