body {
    background-color: #0a0a13;
}

table.board {
    width: 60vw;
    margin: 4vh auto;
    border-collapse: collapse;
}

table.board th {
    border: 1px solid #fff;
    width: 20vw;
    height: 20vw;
    line-height: 20vw;
    text-align: center;
    border-radius: 0;
    transition: 100ms linear;
    font-size: 12vw;
}

table.board th:hover {
    background-color: #222239;
}

table.board th.highlighted {
    background-color: #ff000057;
}

table.board th.highlighted:hover {
    background-color: #fe0b0b70;
}

h1 {
    text-align: center;
    font-size: 250%;
}

a {
    cursor: pointer;
}

.centered {
    text-align: center;
}

.modebutton {
    border-radius: 0;
    background-color: #222239;
    color: #CADEFF;
    font-size: 140%;
}