* {
    border-radius: 2px;
    border-style: none;
}

body {
    margin: 0;
    padding: 0;
}

p {
    margin: 1px;
}

.container {
    max-width: 98%;
}

input {
    width: 50%;
}

#constantRe,
#constantIm {
    width: 25%;
}

#url {
    word-wrap: break-word;
}

#loadingscreen {
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.infobar {
    color: crimson;
}

#canvasMain,
#canvasJul {
    float: right;
    top: 0;
    border-radius: 8px;
    margin-right: 4px;
}

#canvasMain {
    margin-left: 10px;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
}

#title {
    font-size: 40px;
}

#stickycanvases,
#pixelate {
    width: 15px;
    height: 15px;
}

hr {
    color: #cadeff;
    border-color: #0d0d16;
    border-radius: 50%;
    border-style: outset;
}

#loadingwave-center {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0000;
}

.wave {
    width: 5px;
    height: 100px;
    background: linear-gradient(45deg, #faa, maroon);
    margin: 10px;
    animation: wave 1s linear infinite;
    border-radius: 50%;
}

.wave:nth-child(1) {
    animation-delay: 0.05s;
}

.wave:nth-child(2) {
    animation-delay: 0.05s;
}

.wave:nth-child(3) {
    animation-delay: 0.1s;
}

.wave:nth-child(4) {
    animation-delay: 0.15s;
}

.wave:nth-child(5) {
    animation-delay: 0.2s;
}

.wave:nth-child(6) {
    animation-delay: 0.25s;
}

.wave:nth-child(7) {
    animation-delay: 0.3s;
}

.wave:nth-child(8) {
    animation-delay: 0.35s;
}

.wave:nth-child(9) {
    animation-delay: 0.4s;
}

.wave:nth-child(10) {
    animation-delay: 0.45s;
}

.wave:nth-child(11) {
    animation-delay: 0.5s;
}

.wave:nth-child(12) {
    animation-delay: 0.5s;
}


@keyframes wave {
    0% {
        transform: scale(0.1);
    }

    16% {
        transform: scale(0.2);
    }

    33% {
        transform: scale(0.8);
    }

    50% {
        transform: scale(1);
    }

    66% {
        transform: scale(0.8);
    }

    82% {
        transform: scale(0.2);
    }

    100% {
        transform: scale(0.1);
    }
}

#statusbar {
    margin: auto;
    text-align: center;
    max-width: 90vw;
    padding-top: 10vw;
}