* {
    border-radius: 2px;
    border-style: none;
    -webkit-user-select: none;
    user-select: none;
}

body {
    margin: 0;
    padding: 0;
}

p {
    margin: 1px;
}

.container {
    max-width: 98%;
}

input {
    width: 50%;
}

#constantRe,
#constantIm {
    width: 25%;
}

#url {
    word-wrap: break-word;
}

#loadingscreen {
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.infobar {
    color: crimson;
}

#canvasMain,
#canvasJul {
    float: right;
    top: 0;
    border-radius: 8px;
    margin-right: 4px;
}

#canvasMain {
    margin-left: 10px;
}

.sticky {
    position: -webkit-sticky !important;
    position: sticky !important;
}

#title {
    font-size: 40px;
}

#stickycanvases,
#pixelate {
    width: 15px;
    height: 15px;
}

hr {
    color: #cadeff;
    border-color: #0d0d16;
    border-radius: 50%;
    border-style: outset;
}

#loadingwave-center {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0000;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateY(-50%);
    -ms-transform: translateX(-50%);
    transform: translateY(-50%);
    transform: translateX(-50%);
}

.wave {
    width: 5px;
    height: 100px;
    background: linear-gradient(45deg, #faa, maroon);
    margin: 10px;
    animation: wave 1s linear infinite;
    border-radius: 50%;
}

.wave:nth-child(1) { animation-delay: 0.05s; }
.wave:nth-child(2) { animation-delay: 0.05s; }
.wave:nth-child(3) { animation-delay: 0.1s; }
.wave:nth-child(4) { animation-delay: 0.15s; }
.wave:nth-child(5) { animation-delay: 0.2s; }
.wave:nth-child(6) { animation-delay: 0.25s; }
.wave:nth-child(7) { animation-delay: 0.3s; }
.wave:nth-child(8) { animation-delay: 0.35s; }
.wave:nth-child(9) { animation-delay: 0.4s; }
.wave:nth-child(10) { animation-delay: 0.45s; }
.wave:nth-child(11) { animation-delay: 0.5s; }
.wave:nth-child(12) { animation-delay: 0.5s; }


@keyframes wave {
    0% {
        transform: scale(0.1);
    }

    16% {
        transform: scale(0.2);
    }

    33% {
        transform: scale(0.8);
    }

    50% {
        transform: scale(1);
    }

    66% {
        transform: scale(0.8);
    }

    82% {
        transform: scale(0.2);
    }

    100% {
        transform: scale(0.1);
    }
}

#statusbar {
    margin: auto;
    text-align: center;
    max-width: 90vw;
    padding-top: 10vw;
}

.tab {
    overflow: hidden;
    border: 1px solid #181c37;
    background-color: #16192e;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    color: #ffffff;
    transition: 0.15s;
}

.tab button:hover {
    background-color: #263049;
}

.tab button.active {
    background-color: #272f51;
}

.ftabcontent, .cstabcontent, .ptabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #101743;
    background-color: #1f2638;
    border-top: none;
}

textarea {
    font-family: monospace;
    font-size: 120%;
    width: 94%;
    height: min-content;
    resize: none;
    margin-left: 36px;
    overflow-y: hidden;
    background-color: #252e44;
    color: #cadeff;
    outline: none;
}

#pcodearea {
    margin-left: 0px;
}

.fixedCode {
    font-size: 120%;
    -webkit-user-select: text;
    user-select: text;
}

.endcodepre {
    margin-top: 0;
}

.submitShader {
    color: #cadeff;
    background-color: #2e365a;
    font-size: 102%;
}

.submitShader:hover {
    background-color: #3e4878;
    transition: 0.3s;
}

button, input {
    color: #d2e3ff;
    background-color: #282e48;
    font-size: 102%;
    transition: 0.3s;
    outline: none;
}

button:hover, input:hover {
    background-color: #363e65;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    height: 20px;
    background: #282e48;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    margin: 0px;
    padding: 0px;
    z-index: 0;
}

.slider:hover {
    background-color: #363e65;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 2px;
    background: #cadeff;
}

.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 2px;
    background: #cadeff;
}

canvas {
    z-index: 2;
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.collapsToggle {
    cursor: pointer;
    padding: 3px;
    border-radius: 2px;
    background-color: #1f2638;
    margin-bottom: 6px;
}

.collapsToggle h3 {
    display: inline-block;
    margin: 3px;
}

.toggleable {
    padding: 5px;
    padding-top: 1px;
}

.areaind {
    text-align: start;
}

#urlaoutdatedwarn {
    color: crimson;
}

textarea {
    height: 51px;
}

.pluginButton {
    margin-left: 4px;
}

#walkthroughDarken {
    position: fixed;
    z-index: 98;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.55);
    display: none;
}

.hl {
    z-index: 99;
    position: relative;
}

.support-banner {
    z-index: 101;
}

@keyframes flash {
    0% {
        color: #95beff;
    }
    50% {
        color: #d8e1e2;
    }
    100% {
        color: #95beff;
    }
}

.walkthroughConfirm {
    position: fixed;
    display: flex;
    top: 20px;
    right: 0;
    margin-right: 20px;
    width: 500px;
    height: 120px;
    background-color: #202233ea;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    animation-name: flash;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    z-index: 20;
}

.walkthroughDialog {
    position: fixed;
    bottom: 50px;
    right: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    width: 600px;
    height: auto;
    background-color: #202233ea;
    animation-name: flash;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    padding: 20px;
    z-index: 100;
}