body {
    background-color: black;
}

html,
body {
    margin: 0;
    padding: 0;
}

canvas {
    background-color: black;
}

p, h2, span {
    margin: 0px;
    font-family: system-ui;
    font-size: 20px;
    margin-left: 10px;
    margin-bottom: 2px;
}

.math {
    font-family: courier;
}

#cx, #cy, #size, #power {
    width: 50%;
}

h4, h2, h1 {
    padding: 0;
    color: white;
    margin-left: 10px;
}

.btncontainer {
    margin-left: 10px;
}