body {
    margin: 0;
    padding: 0;
}
canvas {
    display: block;
}
p { /* i dont know how much of this css is neccesary, most of it is here to center the p EDIT: apparently only text-align: center is neccesary, but ill keep the rest in, because if i remove it it breaks */
    position: absolute;
    font-family: system-ui;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: max-content;
    left: 0;
    right: 0;
    font-size: x-large;
}