
body {
    background-color: #202020;
    color: #ffffff;
}

.container {
    padding: 50px;
    margin: 50px auto;
    background-color: #313131;
}

img, .container {
    box-shadow: 0px 0px 30px 0px #000000;
}