#tree {
	display: none;
}
body {
    background-color: #0b0b0b;
    color: #a9b7c6;
    font-family: system-ui;
    text-shadow: 0 0 8px #4c545c;
}
details, p {
    margin-top: 2px;
    margin-bottom: 2px;
    padding-left: 4px;
    border-color: #a9b7c6;
    border-style: groove;
    border-width: 2px;
    border-radius: 2px;
    box-shadow: #9ca6b13e 0px 0px 8px, #9ca6b13e 0px 0px 16px;
}
p {
    padding: 4px;
}
summary {
    cursor: pointer;
    padding: 4px;
    padding-bottom: 2px;
}